<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Deliveries</title>
</head>
<body>
<h1>List of Deliveries</h1>
<table>
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>City</th>
        <th>Status</th>
        <th>Total Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="delivery : ${deliveries}">
        <td th:text="${delivery.fullName}"></td>
        <td th:text="${delivery.phoneNumber}"></td>
        <td th:text="${delivery.address}"></td>
        <td th:text="${delivery.city}"></td>
        <td th:text="${delivery.status}"></td>
        <td th:text="${delivery.totalAmount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
