<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h1>Products</h1>
    <div th:if="${products.isEmpty()}">
        <p>No products found in this category.</p>
    </div>
    <div th:if="${!products.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}">Product Name</td>
                <td th:text="${product.price}">Product Price</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
