<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>
<h1>Сменить пароль</h1>
<form action="/users/change-password" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="currentPassword">Текущий пароль:</label>
    <input type="password" id="currentPassword" name="currentPassword" required><br><br>

    <label for="newPassword">Новый пароль:</label>
    <input type="password" id="newPassword" name="newPassword" required><br><br>

    <button type="submit">Изменить пароль</button>
</form>
</body>
</html>
