<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card-category {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="container mt-4">
    <h1>Categories</h1>
<!--    <a href="/categories/new" class="btn btn-primary mb-3">Add New Category</a>-->

    <div class="row">
        <!-- Thymeleaf will iterate over the categories and create a card for each -->
        <div class="col-md-4" th:each="category : ${categories}">
            <div class="card card-category">
                <div class="card-body">
                    <h5 class="card-title" th:text="${category.name}">Category Name</h5>
                    <p class="card-text" th:text="${category.description}">Category Description</p>
                    <a th:href="@{/products/category/{categoryId}(categoryId=${category.id})}" class="btn btn-info">View Products</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optionally include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
