<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Подключите ваш CSS файл, если есть -->
</head>
<body>
<header>
    <h1>Products</h1>
</header>

<main>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <!-- Итерация по списку продуктов -->
        <tr th:each="product : ${products}">

            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
    <p>&copy; 2024 Your Company</p>
</footer>
</body>
</html>
